@page "/Empresa"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using JornalerosApp.Pages.Empresa
@using JornalerosApp.Shared.Services

@inject NavigationManager Navigation


    <BSJumbotron Class="row" IsFluid="true">
        <h4>Perfil de Empresa: </h4>
        <BSRow>
            <BSCol SMOffset="4">
                <BSButton Class="m-4" Size="Size.ExtraLarge" ButtonType="ButtonType.Link" @onclick="IraCV">Informacion de Empresa</BSButton>
                <BSButton Class="m-4" Size="Size.ExtraLarge" ButtonType="ButtonType.Link" @onclick="IraOfertas">Ver mis ofertas</BSButton>

            </BSCol>
        </BSRow>
    </BSJumbotron>






@code {
    [Parameter] public string UserName { get; set; }
    [Parameter] public string Id { get; set; }



    private void IraCV()
    {
        string direccion = "/Empresa/EditarFichaEmpresa/" + Id;

        Navigation.NavigateTo(direccion);
    }
    private void IraOfertas()
    {
        string direccion = "/BuscarOfertas/"+Id;

        Navigation.NavigateTo(direccion);
    }

}
