@using Microsoft.AspNetCore.Components.Routing;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@inject NavigationManager Navigation;


<AuthorizeView  >
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
       
        <form method="post" action="Identity/Account/Logout" >
            <button type="submit" class="nav-link btn btn-link">Salir</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Candidato/Register">Candidato</a>
        <a href="Identity/Account/Empresa/Register">Empresa</a>

        <a href="Identity/Account/Login">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private string CurrentValue { get; set; } = "candidato";
    //private void Salida()
    //{
    //    Navigation.NavigateTo("Identity/Account/Logout");
    //}

}
