<BSBasicForm IsInline="true" Class="float-md-right">
    <BSFormGroup IsRow="true" >
       
            <BSButton ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Medium" OnClick="@Inicio">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
                <span>Inicio</span>
            </BSButton>
       
            <BSButton IsDisabled="@BackDisabled" ButtonType="ButtonType.Submit" Color="Color.Info" Size="Size.Medium" OnClick="@Atras">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                <span>Atras</span>
            </BSButton>
       
            <BSButton ButtonType="ButtonType.Submit" Color="Color.Info" Size="Size.Medium" OnClick="@Listo">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
                <span>Listo</span>
            </BSButton>
       
    </BSFormGroup>
</BSBasicForm>

    @code {
        [Parameter]
        public bool BackDisabled { get; set; }
        [Parameter]
        public bool ForwardDisabled { get; set; }
        [Parameter]
        public EventCallback Inicio{ get; set; }
        [Parameter]
        public EventCallback Atras{ get; set; }
        [Parameter]
        public EventCallback Listo{ get; set; }

    }
