@page "/Candidato"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using JornalerosApp.Pages.Candidatos
@using JornalerosApp.Shared.Services

@inject NavigationManager Navigation

<h4>Datos Personales: @UserName</h4>

<BSContainer Class="jumbotron row">
    <BSContainer Class="col-4">
        <button class="btn btn-info" @onclick="IraDP">Datos personales</button>
    </BSContainer>
    <BSContainer Class="col-4">
        <button class="btn btn-info" @onclick="IraCV">Curriculum Vitae</button>
    </BSContainer>
    <BSContainer Class="col-4">
        <button class="btn btn-info" @onclick="IraOfertas">Buscar ofertas</button>
    </BSContainer>

        </BSContainer>
        @code {
            [Parameter] public string UserName { get; set; }
            [Parameter] public string Id { get; set; }



            private void IraDP()
            {
                string direccion = "/Candidato/EditarDP/" + Id;

                Navigation.NavigateTo(direccion);
            }

            private void IraCV()
            {
                string direccion = "/Candidato/EditarCV/" + Id;

                Navigation.NavigateTo(direccion);
            }

            private void IraOfertas()
            {

                Navigation.NavigateTo("/BuscarOfertas/" + "NO");
            }

        }
