@page "/Candidato"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using JornalerosApp.Pages.Candidatos
@inject NavigationManager Navigation

<h3>Datos Personales</h3>
<h4>@UserName</h4>
<p>aqui va el Id: @Id</p>
<button class="btn btn-info" @onclick="IraCV">Curriculum Vitae</button>



@code {
    [Parameter] public string UserName { get; set; }
    [Parameter] public string Id { get; set; }


    protected override Task OnParametersSetAsync()
    {


        return base.OnParametersSetAsync();
    }

    private void IraCV()
    {
        string direccion = "/Candidato/EditarCV";
        Navigation.NavigateTo(direccion);
    }

}
