@page
@model LogoutModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<JornalerosApp.Properties.Resources> L
@{
    ViewData["Title"] = "Salir";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@L["Salir"] </p>
</header>