@page 
@model JornalerosApp.Areas.Identity.Pages.Account.Empresa.RegisterModel
@{
    ViewData["Title"] = "Registro";
    
}

<section>
    <div class="row; m-0" style="display:inline-block">
    <div class="col">
        <h3>@ViewData["Title"]</h3>
    </div>

    <div class="col">
        <h5>Si ya está registrado haga click en el siguiente enlace: <a href="../Login">Entrar</a></h5>
    </div>
    </div>
</section>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <h4 style="text-align:center">Crear nueva cuenta de empresa.</h4>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row justify-content-center align-items-center">
            <div class="col col-md-5">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="No visible a candidatos" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NombreEmpresa"></label>
                    <input asp-for="Input.NombreEmpresa" class="form-control" placeholder="" />
                    <span asp-validation-for="Input.NombreEmpresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NombreContacto"></label>
                    <input asp-for="Input.NombreContacto" class="form-control" placeholder="Persona de contacto" />
                    <span asp-validation-for="Input.NombreContacto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Cargo"></label>
                    <input asp-for="Input.Cargo" class="form-control" placeholder="" />
                    <span asp-validation-for="Input.Cargo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Telefono"></label>
                    <input asp-for="Input.Telefono" class="form-control" placeholder="No visible a candidatos" />
                    <span asp-validation-for="Input.Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col col-md-5">
                <div class="form-group">
                    <label asp-for="Input.CIF"></label>
                    <input asp-for="Input.CIF" class="form-control" placeholder="" onchange="ComprobarNIF" />
                    <span asp-validation-for="Input.CIF" onchange="ComprobarNIF()" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Actividad"></label>
                    <input asp-for="Input.Actividad" class="form-control" placeholder="" />
                    <span asp-validation-for="Input.Actividad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Dirección"></label>
                    <input asp-for="Input.Dirección " class="form-control" />
                    <span asp-validation-for="Input.Dirección" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CodigoPostal"></label>
                    <input asp-for="Input.CodigoPostal" class="form-control" />
                    <span asp-validation-for="Input.CodigoPostal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Provincia"></label>
                    <input asp-for="Input.Provincia" class="form-control" />
                    <span asp-validation-for="Input.Provincia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">

            <button type="submit" style="text-align:center" class="btn btn-primary btn-lg">Registro</button>

        </div>

    </form>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
